<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="GET" action="/register">
      <button>Sign Up</button>
    </form>
    <br />
    <hr />
    <br />
    <form method="GET" action="/login">
      <button>Sign In</button>
    </form>
  </body>
</html>
